@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
   font-family: 'Gotham Black';
   src: url('../public/fonts/Gotham-Black.ttf') format('truetype');
   font-weight:400;
   font-style: normal;
 }
 @font-face {
  font-family: 'Anton';
  src: url('../public/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit Black';
  src: url('../public/fonts/Outfit-Black.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Freeman';
  src: url('../public/fonts/Freeman/Freeman-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Almarai';
  src: url('../public/fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrapBold';
  src: url('../public/fonts/Trap-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
.gantari-bold {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.custom-faq-bg {
  @media screen and (min-width: 1000px) {
    background-image: url('../public/assests/assests/FAQs_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}