@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
   font-family: 'Gotham Black';
   src: url('../public/fonts/Gotham-Black.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
  font-family: 'Anton';
  src: url('../public/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'TrapBold';
  src: url('../public/fonts/Trap-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Whyte-Inktrap';
  src: url('/fonts/WhyteInktrap-Black.eot'); /* For older IE browsers */
  src: url('/fonts/WhyteInktrap-Black.woff2') format('woff2'),
       url('/fonts/WhyteInktrap-Black.woff') format('woff'),
       url('/fonts/WhyteInktrap-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}