.footer {
    padding: 20px;
    background-color: #f8f9fa;
    background-image: url('../assests/assests/background_image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .footer-left {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .footer-heading {
    font-size: 24px;
    transition: transform 0.5s ease; 
    color: white; 
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding-right: 20px; 
  }
  
  .social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .social-icon {
    font-size: 24px; /* Adjust size as needed */
    color: white; /* Ensure icon color matches footer text color */
  }
  
  .social-name {
    color: white; 
    margin-left: 8px; 
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info a {
    color: white; 
    text-decoration: none; 
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .footer-heading.animate {
    transform: scale(1.2); 
  }
  